certifi==2018.8.24
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==2.1.8
django-ckeditor==5.8.0
django-js-asset==1.2.2
django-simpleui==2020.9.26
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
lxml==4.6.1
mysqlclient==1.4.4
numpy==1.18.5
openpyxl==2.6.4
pandas==0.25.3
pdfminer==20191016
Pillow==6.2.1
pycparser==2.19
pycryptodome==3.9.4
pycryptodomex==3.9.4
pyOpenSSL==19.1.0
pypinyin==0.40.0
python-alipay-sdk==2.0.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.25.0
six==1.13.0
urllib3==1.26.2
wincertstore==0.2
